.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #101b4a;
  }
  
  .details {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
  }
  
  .details p {
    margin: 10px 0;
  }
  