.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101b4a;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  flex: 1;
}
  .topnav img {
    display: block;
    max-width: 80px; 
    height: 60px; 
    border: none;
    padding: 0; 
  }
  .logo:hover {
    background-color: #101b4a ;
    
  }
  .topnav .nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .nav-links a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 16px;
  }
  
  .topnav a.active {
    background-color: #101b4a;
    color: white;
  }
 
  .topnav a:hover {
    background-color: #101b4a;
    opacity:1;
  }