<div class="topnav">
  <a href="#" class="logo"><img src="../assets/logo.png" alt="logo"></a>

  <div class="nav-links">
    <ng-container *ngIf="userType === 'E'">
      <a href="/EmployeeDashboard">Dashboard</a>
      <a href="/EmployeeProfile">Profile</a>
      <a href="/Logout">Logout</a>
    </ng-container>
    
    <ng-container *ngIf="userType === 'C'">
      <a href="/CustomerDashboard">Dashboard</a>
      <a href="/profile">Profile</a>
      <a href="/cart">Cart</a>
      <a href="/Logout">Logout</a>
    </ng-container>
    
    <ng-container *ngIf="!userType">
      <a href="/Login">Login</a>
      <a href="/register">Register</a>
    </ng-container>
  </div>
</div>
