body {
  font-family: 'Times New Roman', Times, serif; 
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101b4a;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topnav .logo img {
  max-width: 80px; 
  height: 60px; 
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: #f2f2f2;
  padding: 14px 20px; 
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-left: 20px; 
  font-family: 'Times New Roman', Times, serif;
}

.topnav a:hover {
  background-color: rgb(225, 126, 5);
}

.topnav .logo:hover {
  background-color: #101b4a;
}
.topnav a.active {
  background-color: #101b4a;
  color: white;
}
