body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-item {
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item-info {
    display: flex;
    align-items: center;
}

.album-cover {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.album-details {
    display: flex;
    flex-direction: column;
}

.cart-item-quantity input {
    width: 50px;
    padding: 5px;
    margin-right: 20px;
}

.cart-item-remove button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item-remove button:hover {
    background-color: #ff1a1a;
}

.cart-summary {
    border-top: 1px solid #ddd;
    padding: 20px;
    text-align: right;
}

.cart-summary h3 {
    margin-top: 0;
}

.cart-summary p {
    margin: 5px 0;
}

.cart-summary button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cart-summary button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
