.cart-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #0c144f;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color:#101b4a;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(225, 126, 5);
  }
  
  .remove-button {
    background-color: #101b4a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  
  .remove-button:hover {
    background-color: rgb(225, 126, 5);
  }
  
  .total-price {
    margin-top: 20px;
    text-align: right;
  }

  .checkout-button {
    max-width: 100px;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  .cart-heading {
    text-align: center; 
    margin-bottom: 20px; 
  }
  