<div class="container">
  <h1 class="header">Log In</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-column">
      <div class="form-group">
        <label id="email_label" for="emailId">Email</label>
        <input type="email" id="emailId" [(ngModel)]="signinData.emailId" name="emailId" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="signinData.password" name="password" required>
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </form>
</div>
