<div class="container">
  <h2 class = "heading">Register New User</h2>
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-column">
      <div class="form-group">

        <label id for="FName">First Name:</label>
        <input type="text" id="FName" [(ngModel)]="model.fName" name="FName" required>
      </div>

      <div class="form-group">
        <label for="LName">Last Name:</label>
        <input type="text" id="LName" [(ngModel)]="model.lName" name="LName" required>

      </div>

      <div class="form-group">
        <label id="label3" for="emailID">Email:</label>
        <input type="email" id="emailID" [(ngModel)]="model.emailID" name="emailID" required>
      </div>

      <div class="form-group">

        <label for="Password">Password:</label>
        <input type="password" id="Password" [(ngModel)]="model.password" name="Password" required>
      </div>

      <div class="form-group">
        <label for="Phone">Phone Number:</label>
        <input type="tel" id="Phone" [(ngModel)]="model.phone" name="Phone" required>
      </div>

    </div>
    <div class="form-group">
      <label for="ShippingAddr">Shipping Address:</label>
      <textarea id="ShippingAddr" [(ngModel)]="model.shippingAddr" name="ShippingAddr"></textarea>
    </div>
    <div class="form-group">
      <label for="BillingAddr">Billing Address:</label>
      <textarea id="BillingAddr" [(ngModel)]="model.billingAddr" name="BillingAddr"></textarea>
    </div>
    <div class="form-group">
      <label for="CustomerCategory">Customer Category (Regular/Premium):</label>
      <select id="CustomerCategory" [(ngModel)]="model.customerCategory" name="CustomerCategory">

        <option value="">Select Customer type</option>
        <option value="Regular">Regular</option>
        <option value="Premium">Premium</option>
      </select>
    </div>
    <ng-container *ngIf="errormessage != ''">
      <div class="form-group" style="color: red;">
        <label id="ShippingAddr" name="ShippingAddr"><b>Error:</b>{{errormessage}}</label>
      </div>
    </ng-container>

    <!-- <div class="form-group">
      <label for="verificationID">Upload ID (Max 1MB):</label>
      <input type="file" id="verificationID" (change)="onFileChange($event)" accept=".jpg,.jpeg,.png,.pdf">
    </div> -->
    <div class="button-container">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
