.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #101b4a;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  width: 150px; /* Fixed width for labels */
  color: #101b4a;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
  flex-grow: 1;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px;
}

textarea {
  height: 100px; 
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #101b4a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(225, 126, 5);
}
