.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .heading {
    display: flex;
    justify-content: center;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  .button-container {
    display: flex;
    justify-content: center; 
  }

  button {
    padding: 10px 20px;
  background-color: #101b4a;
  color: white;
  border: none;
  cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(225, 126, 5);
  }
  