<h1>Hello, my-app</h1>
<header>
  <div class="topnav">
    <a class="active" href="#">Logo</a>
    <a href="CustomerDashboard">Dashboard</a>
    <a href="#">Cart</a>
    <a href="Login">Login</a>
    <a href="Logout">SignOut</a>
  </div>
</header>

<router-outlet />

<div class="footer-basic">
<footer>
  <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Contact </a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Privacy</a></li>
  </ul>
  <p class="copyright">MusicStore © 2024</p>
</footer>
</div>
