<div class="container">
    <h2 class="header">Albums Available</h2>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Album Name</th>
          <th>Outlet Name</th>
          <th>Discount</th>
          <th>Price After Discount</th>
          <th>View Details</th>
          <th>Add to Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums" class="table-row">
          <td>{{album.albumName}}</td>
          <td>{{album.outletName}}</td>
          <td>{{album.discount}}</td>
          <td>{{album.priceAfterDiscount}}</td>
          <td>
            <a href="AlbumDetails?albumid={{album.albumId}}" class="btn btn-primary">View</a>
          </td>
          <td>
            <a href="#Add" class="btn btn-primary">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  