.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #101b4a;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table-header {
    background-color: #101b4a;
    color: white;
  }
  
  .table-header th {
    padding: 10px;
    text-align: left;
  }
  
  .table-row {
    background-color: white;
  }
  
  .table-row td {
    padding: 10px;
  }
  
  .table-row td .btn-primary {
    background-color: #101b4a;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
  }
  
  .table-row td .btn-primary:hover {
    background-color: rgb(225, 126, 5);
  }
  
  .table-row td .btn-primary:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  