<h2>Albums available</h2>
<table class="table" style=" width:100%;">
    <thead style="background-color:cornflowerblue">
        <tr>
            <th style="padding:10px;">AlbumName</th>
            <th>OutletName</th>
            <th>Discount</th>
            <th>PriceAfterDiscount</th>
            <th>View Details</th>
            <th>Add to Cart</th>
        </tr>
    </thead>
    
    <tr *ngFor="let album of albums" style="background-color:aquamarine">
        <td style="padding:10px;">{{album.albumName}}</td>
        <td>{{album.outletName}}</td>
        <td>{{album.discount}}</td>
        <td>{{album.priceAfterDiscount}}</td>
        <td>
            <a href= "AlbumDetails?albumid={{album.albumId}}" class = "btn btn-primary">View </a>
        </td>
        <td>
            <a href= "#Add" class = "btn btn-primary">Add </a>
        </td>
    </tr>


    
</table>