.payment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .payment-container h2, .payment-container h3 {
    text-align: center;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .payment-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .payment-option input[type="radio"] {
    margin-right: 10px;
  }
  
  .payment-option span {
    font-size: 18px;
    font-weight: 500;
  }
  
  .card-details {
    margin-top: 20px;
  }
  
  .card-details label {
    display: block;
    margin: 10px 0;
  }
  
  .card-details input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #101b4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: rgb(225, 126, 5);
  }
  