<div class="container">
    <h2 class="header">Customer Profile</h2>
  
    <div class="profile-details">
      <p><strong>First Name:</strong> {{ customer.FName }}</p>
      <p><strong>Last Name:</strong> {{ customer.LName }}</p>
      <p><strong>Email:</strong> {{ customer.EmailId }}</p>
      <p><strong>Phone:</strong> {{ customer.Phone }}</p>
      <p><strong>Billing Address:</strong> {{ customer.BillingAddr }}</p>
      <p><strong>Shipping Address:</strong> {{ customer.ShippingAddr }}</p>
      <p><strong>Category:</strong> {{ customer.CustomerCategory }}</p>
    </div>
  </div>
  