<div class="profile-container">
  <h2 class="header">Customer Profile</h2>

  <div class="profile-details">
    <p><strong>First Name:</strong> {{ customer.fName }}</p>
    <p><strong>Last Name:</strong> {{ customer.lName }}</p>
    <p><strong>Email:</strong> {{ customer.emailId }}</p>
    <p><strong>Phone:</strong> {{ customer.phone }}</p>
    <p><strong>Billing Address:</strong> {{ customer.billingAddr }}</p>
    <p><strong>Shipping Address:</strong> {{ customer.shippingAddr }}</p>
    <p><strong>Category:</strong> {{ customer.customerCategory }}</p>
  </div>
</div>
